body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}

a:hover {
	font-size: 1.4em;
}


input {
	display: block;
}

img {
	max-width: 300px;
	border: 5px solid black;
	box-shadow: 10px 10px 20px;
}

.buttons {
	background-color: yellow;
	padding: 1.5em;
}

span {
	color: blue;
}

.rando {
	padding: 100px;
	font-size: 3em;
}

h4 {
	font-size: 1.5em;
	font-weight: 900;
	color: red;
}

#links {
	padding-left: 125px;
}

li {
	list-style-type: none;
}

#me {
	font-size: 3em;
}

section > form > label:hover {
	padding: 50px;
	color: red;
}
